#editor{
    background-color:white;
    width: 97%;
    min-height: 20px;
    float: right;
    padding-left: 2px;
    padding-right: 2px;
}

#lines{
    float: left;
    text-align: right;
    width: 3%;
    background-color: rgb(209, 209, 209);
    padding-right: 5px;
}

body{
    background-color: rgb(223, 223, 223);
    overflow-y: scroll;
}

footer{
    float: inline-end;
}

.info{
    float: right;
    padding-top: 7px;
    padding-right: 10px;
}

#footerLines{
    float: left;
    padding-top: 7px;
    padding-left: 3%;

}

#moldura{
    min-height: 440px;
    background-color:white;
}

#editor:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 