#editor{
    background-color:white;
    width: 97%;
    min-height: 440px;
    float: right;
}

.textEdit{
    margin-left: 1px;
    margin-right: 1px;
}


#lines{
    float: left;
    text-align: right;
    width: 3%;
    background-color: rgb(209, 209, 209);
}

body{
    background-color: rgb(223, 223, 223);
    overflow-y: scroll;
}

footer{
    float: inline-end;
}